.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-weight: normal;
  font-family: 'Righteous';
}

.grid {
  --grid-gap: 0.2vw;
  display: grid;
  row-gap: var(--grid-gap);
  column-gap: var(--grid-gap);
  width: fit-content;
}

button.action {
  margin-top: 2rem;
  text-transform: uppercase;
  border: solid 1px black;
  background-color: transparent;
  padding: 1rem;
  cursor: pointer;
  transition: all ease-in-out 0.1s;
  box-shadow: 0 0 0 0;
  transform: translate(-3px, -3px);
}

button.action:hover {
  box-shadow: 3px 3px 0 0;
  transform: translate(-6px, -6px);
}
