.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4rem;
}

.title {
  font-weight: normal;
  font-family: 'Righteous';
}

.main {
  display: grid;
  column-gap: 2rem;
  grid-template-areas:
    'legends sidebar'
    'grid sidebar'
    'tips sidebar';
  grid-template-rows: fit-content;
  grid-template-columns: 3fr 1fr;
}

.legends {
  grid-area: legends;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 1.5rem;
  row-gap: 0.5rem;
  margin-bottom: 1rem;
}

.legend-group {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

.legend-group .label {
  font-size: 0.75rem;
}

.grid {
  --grid-gap: 0.2vw;
  grid-area: grid;
  justify-self: center;
  display: grid;
  row-gap: var(--grid-gap);
  column-gap: var(--grid-gap);
  width: fit-content;
}

.sidebar {
  grid-area: sidebar;
}

.sidebar .subtitle {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.algorithms {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin-bottom: 1rem;
}

.cleanup-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 0.5rem;
  margin-bottom: 2rem;
}

.action {
  border: solid 1px black;
  background-color: transparent;
  padding: 1rem;
  cursor: pointer;
  transition: all ease-in-out 0.1s;
  box-shadow: 0 0 0 0;
  transform: translate(0, 0);
}

.action:hover {
  box-shadow: 3px 3px 0 0;
  transform: translate(-3px, -3px);
}

.action.minor {
  padding: 0.4rem;
  font-size: 0.75rem;
  width: 100%;
}

.tips .subtitle {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.tips ul {
  margin: 0;
  font-size: 0.75rem;
  padding-left: 1rem;
}

.tips ul li div {
  margin-left: 0.3rem;
}
