.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-md);
  width: 100%;
  row-gap: var(--spacing-md);
}

.title {
  background: var(--gradient-accent);
  border-radius: var(--border-radius-lg);
  padding: var(--spacing-lg) var(--spacing-md);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  box-shadow: var(--box-shadow);
}

.title h1 {
  font-weight: normal;
  font-family: var(--font-family-title);
  font-size: var(--font-size-xl);
  margin: 0;
  margin-bottom: var(--spacing-sm);
}

.title a, .title a:visited {
  color: white;
}

.main-grid, .actions {
  border-radius: var(--border-radius-lg);
  padding: var(--spacing-lg) var(--spacing-md);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: var(--box-shadow);
}

.main-grid h2, .actions h2 {
  align-self: flex-start;
  margin: 0;
  font-size: var(--font-size-lg);
  font-weight: bold;
  background-image: var(--gradient-accent);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.main-grid .legends {
  display: grid;
  grid-template-areas:
    "start unvisited shortest"
    "end visited wall";
  width: 100%;
  row-gap: var(--spacing-sm);
  margin-top: var(--spacing-md);
}

.main-grid .legends .legend-group {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

.main-grid .legends .legend-group.start {
  grid-area: start;
}

.main-grid .legends .legend-group.end {
  grid-area: end;
}

.main-grid .legends .legend-group {
  grid-area: unvisited;
}

.main-grid .legends .legend-group.visited {
  grid-area: visited;
}

.main-grid .legends .legend-group.on-path {
  grid-area: shortest;
}

.main-grid .legends .legend-group.wall {
  grid-area: wall;
}

.main-grid .legends .legend-group .node {
  --node-width: 18px;
}

.main-grid .legends .legend-group .label {
  font-size: 0.75rem;
}

.main-grid .grid {
  --grid-gap: calc((100vw - 4 * var(--spacing-md) - 10 * var(--node-width)) / 9);
  grid-area: grid;
  justify-self: center;
  display: grid;
  row-gap: var(--grid-gap);
  column-gap: var(--grid-gap);
  width: fit-content;
  margin-top: var(--spacing-md);
}

.actions .algorithms {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--spacing-sm);
  width: 100%;
  margin-top: var(--spacing-md);
}

.actions .cleanup-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: var(--spacing-sm);
  width: 100%;
  margin-top: var(--spacing-md);
}

.actions button {
  background-color: var(--color-background);
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: background-color ease-in-out 0.1s;
}

.actions button:is(:hover, :focus-visible) {
  background-color: var(--color-background-dark);
}

.actions .algorithms button {
  padding: var(--spacing-md);
  border-radius: var(--border-radius-md);
}

.actions .cleanup-buttons button {
  padding: var(--spacing-sm);
  border-radius: var(--border-radius-sm);
}

.main {
  display: grid;
  column-gap: 2rem;
  grid-template-areas:
    'legends sidebar'
    'grid sidebar'
    'tips sidebar';
  grid-template-rows: fit-content;
  grid-template-columns: 3fr 1fr;
}

.tips .subtitle {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.tips ul {
  margin: 0;
  font-size: 0.75rem;
  padding-left: 1rem;
}

.tips ul li div {
  margin-left: 0.3rem;
}

.tips ul li div em {
  background-color: #ffe88e;
  font-style: normal;
}
