.node {
  border: solid 1px black;
  width: var(--node-width);
  height: var(--node-width);
}

.node.start {
  background-color: #027DFC;
}

.node.end {
  background-color: #00E379;
}

.node.visited {
  background-color: #ffe88e;
}

.node.on-path {
  background-color: #f8bb37;
}

.node.wall {
  background-color: black;
}

.node.under-drag-start {
  background-color: #FF6F68;
}

.node.under-drag-end {
  background-color: #88D8B0;
}

.node[draggable="true"] {
  cursor: grab;
}

.node[draggable="true"]:active {
  cursor: grabbing;
}
